* {
    margin: 0;
}
header,div,h2,p{
    text-align: right;  
}
header {  
    height: 100vh;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-contain{
    text-align: right;
    padding-top: 216px;
    padding-right: 200px;
    margin-bottom: 130px;
}
.header-tittle{
    right: 228px;
    left: 845px;
    top: 216px;
    color: white;
}
.header-description{
    text-align: right;
    padding: left 700px;
    margin-bottom: 130px; 
    color: blanchedalmond; 
    margin-top: 16px;
}
.header-button{
    width: 90px;
    height: 50px;
    /* left: 210px; */
    margin-left: 600px;
    color: black;
}
#description-control {
    padding-left: 700px;
}
.pervious-year-failures {

    margin-top: 130px;
    margin-bottom: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.failure-person {
    width: 40%;
    height: 100%;
}

.failure-reasons {
    width: 30%;
    text-align: left;
}

.upset-person-img {
    height: 500px;
    width: 500px;

}

.failure-reason-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.failure-reason-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-reason-lists {
    text-align: start;
    list-style: none;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

.li-icon-check-mark {
    color: rgb(13, 224, 13);

}

.failure-list {
    margin-bottom: 8px;
}
.my-plans {
    margin-top: 130px;
}

.about-plans {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.future-skill-container{
    margin-top: 90px;
    margin-left: 200px;
    display: flex;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
.future-skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.be-positive{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.be-positive-container {
    /* height: auto; */
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 222px;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    background-image: url(../images/watch.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    /* background-blend-mode: overlay; */
}
.be-positive-title{
    color: black;
    text-align: left;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 24px;
}
.button-call{
    margin-right: 1200px;
    width: 80px;
    height: 45px;
    color: black;
}
footer {
    background: #151414;
    height: 70vh;
    width: 100%;
}

.contacts {
    width: 30%;
}

.subscribe {
    width: 30%;
}

.footer-container {
    display: flex;
    /* align-items: center; */
    /* justify-content: center;  */
    /* height: 50vh; */
    justify-content: space-around;
}

.footer-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-top: 130px;
    margin-bottom: 16px;

}

.footer-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
}

.contact {
    margin-bottom: 16px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.footer-icon { 
    margin-right: 10px;
}

.footer-sub-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    margin-top: 130px;
    margin-bottom: 16px;
}

.footer-input {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    width: 325px;
    height: 64px;
    background-color: #151414;
    margin-bottom: 16px;
    color: #F15B22;
}

.btn-footer {
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 21px 25px 20px 26px;
    color: #F15B22;
    background-color: #FFFFFF;
    text-align: center;
}
::placeholder {
    color: #F3F3F3;
}
.top-side{
    margin-top: 100px;
}